
module my-rpcmountd 1.0;

require {
	type nvme_device_t;
	type nfsd_t;
	class blk_file { ioctl open read };
}

#============= nfsd_t ==============
allow nfsd_t nvme_device_t:blk_file ioctl;

#!!!! This avc is allowed in the current policy
allow nfsd_t nvme_device_t:blk_file { open read };
