[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=monero
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/opt/node-v8.8.1-linux-x64/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/opt/.pm2
PIDFile=/opt/.pm2/pm2.pid

ExecStart=/opt/node-v8.8.1-linux-x64/lib/node_modules/pm2/bin/pm2 resurrect
ExecReload=/opt/node-v8.8.1-linux-x64/lib/node_modules/pm2/bin/pm2 reload all
ExecStop=/opt/node-v8.8.1-linux-x64/lib/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
